.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  @media (max-width: 1200px) {
    width: 1110px;
  }
  @media (max-width: 992px) {
    width: 896px;
  }
  @media (max-width: 768px) {
    width: 598px;
  }
  @media (max-width: 576px) {
    width: 460px;
  }
  @media (max-width: 375px) {
    width: 375px;
  }
}
