.advantages-wrap {
  background-color: $bg;
  padding: 72px 0;
  @media (max-width: 1440px) {
    padding: 56px 0;
  }
  @media (max-width: 991px) {
    padding: 40px 0;
  }
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  @media (max-width: 576px) {
    padding: 20px 0;
  }
}

.advantages {
  @include flex(column, center, center);
  &__title {
    margin-bottom: 50px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__list {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 30px;
    @media (max-width: 1200px) {
      margin-bottom: 15px;
    }
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
  &__item {
    @include flex(column, center, flex-start);
    gap: 20px;
    width: 570px;
    height: 280px;
    border: 0.5px solid $accent;
    background: $white;
    padding: 60px 50px;
    @media (max-width: 1440px) {
      width: 500px;
      height: 290px;
    }
    @media (max-width: 1200px) {
      width: 427px;
      height: 300px;
      padding: 60px 30px;
    }
    @media (max-width: 991px) {
      @include flex(column, center, center);
      width: 530px;
      height: 280px;
    }
    @media (max-width: 768px) {
      text-align: center;
      width: 340px;
      height: 310px;
      padding: 60px 20px;
    }
    @media (max-width: 375px) {
      width: 100%;
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
    }
    p {
      line-height: 150%;
    }
  }
}
