.awards-wrap {
  background-color: $bg;
  padding: 60px 0;
  @media (max-width: 991px) {
    padding: 30px 0;
  }
  @media (max-width: 768px) {
    padding: 25px 0;
  }
  @media (max-width: 576px) {
    padding: 20px 0;
  }
}
.awards {
  &__title {
    margin-bottom: 44px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  &__accreditations {
    @include flex(row, center, center);
    gap: 84px;
    margin-bottom: 44px;
    @media (max-width: 1440px) {
      gap: 60px;
    }
    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 991px) {
      flex-wrap: wrap;
      gap: 55px;
      margin-bottom: 30px;
    }
  }
  &__swiper-nav {
    margin-top: 45px;
    width: 100%;
    @include flex(row, center, center);
    gap: 100px;
    @media (max-width: 576px) {
      margin-top: 32px;
      @include flex(row, space-between, center);
    }
    @media (max-width: 375px) {
      margin-top: 30px;
      padding: 0 15px;
    }
  }
  &__slide {
    @media (max-width: 1200px) {
      width: 350px;
      height: 416.216px;
    }
    @media (max-width: 991px) {
      width: 270px;
      height: 330px;
    }
    @media (max-width: 576px) {
      width: 430px;
      height: 453px;
    }
    @media (max-width: 375px) {
      width: 375px;
      height: 453px;
    }
  }
}
