.contact-wrap {
  padding: 100px 0;
  @media (max-width: 1200px) {
    padding: 80px 0;
  }
  @media (max-width: 768px) {
    padding: 70px 0;
  }
  @media (max-width: 576px) {
    padding: 60px 0;
  }
}
.contact-wrap .container {
  @media (max-width: 576px) {
    padding: 0;
  }
}
.contact-title {
  margin-bottom: 45px;
  @media (max-width: 991px) {
    margin-bottom: 20px;
  }
  @media (max-width: 576px) {
    padding: 0 15px;
  }
}
.contact {
  @include flex(row, center, flex-start);
  gap: 60px;
  @media (max-width: 1200px) {
    gap: 53px;
  }
  @media (max-width: 991px) {
    @include flex(column, center, center);
    gap: 20px;
  }
  @media (max-width: 576px) {
    padding: 0 15px;
  }
  &__form {
    &-input {
      position: relative;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-bottom: 10px;
      }
      &--calendar {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        pointer-events: none;
        @media (max-width: 991px) {
          right: 15px;
        }
      }
    }
    &-textarea {
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-bottom: 25px;
      }
    }
    &-btn {
      width: 230px;
      @media (max-width: 991px) {
        margin: auto;
      }
      @media (max-width: 768px) {
        width: 340px;
      }
    }
  }
  &__info {
    @include flex(column, flex-start, flex-start);
    gap: 25px;
    height: 514px;
    padding: 40px;
    background: $bg;
    margin-bottom: 25px;
    @media (max-width: 1200px) {
      width: 400px;
      height: 629px;
    }
    @media (max-width: 991px) {
      width: 470px;
      height: auto;
      padding: 40px 20px;
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      width: 380px;
    }
    &-item {
      @include flex(row, flex-start, flex-start);
      gap: 30px;
      width: 400px;
      @media (max-width: 1200px) {
        width: 262px;
      }
      @media (max-width: 991px) {
        gap: 15px;
        width: 305px;
      }
      ul {
        @include flex(column, flex-start, flex-start);
        gap: 25px;
      }
    }
  }
  &__social {
    text-align: right;
    @media (max-width: 991px) {
      text-align: center;
    }
    @media (max-width: 576px) {
      padding: 0 15px;
    }
    h3 {
      font-family: $font-title;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 21px;
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
    }
    ul {
      @include flex(row, flex-end, center);
      gap: 25px;
      @media (max-width: 991px) {
        justify-content: center;
      }
    }
  }
}
